<template name="fieldSelect">
	<select id="{{field}}"  class="{{definition.class}}">
		{{#each items}}
			<option value="{{value}}" {{selected}} >{{title}}</option>
		{{/each}}
	</select>    	
</template>