<template name="fieldTableedit">
	<span id="{{definition.form}}">
	    <table>
	    <tbody>
			{{#each rows}}
		    <tr>
				{{#each column}}
	    		<td>{{this}}</td>
				{{/each}}
				<td>
					<button type="button" class="btn editRow"><i class="icon-edit"></i></button>
					<button type="button" class="btn removeRow"><i class="icon-remove"></i></button>
				</td> 
		    </tr>
			{{/each}} 
		    <tr>
				{{#with formParams definition.form "featuresObj" "fieldControllTd"}}
						{{> formFields}}
				{{/with}}
				<td><button type="button" class="btn addRow">Add</button></td> 
		    </tr>
	    </tbody>
	    </table>
	</span>
		
</template>

<template name="fieldControllTd">
	<td>
		{{{controll}}}
	</td>			
</template>