<template name="form">
	<form id="{{formName}}" class="form-horizontal" >
		{{> formFields }}
	</form>
	<div class="control-group">
		<div class="controls">
			<button type="button" class="save btn">Save</button>
			<button type="button" class="cancel btn">Cancel</button>
		</div>
	</div>
</template>

<template name="formFields">
	{{#each fields}}
		{{{fieldHtml}}}
	{{/each}}
</template>

<template name="fieldControllGroup">
	<div class="control-group">
		<label class="control-label" for="inputEmail">{{label}}</label>
		<div class="controls">
			{{{controll}}}			
		</div>
</template>

<template name="fieldControllSingle">
		{{{controll}}}			
</template>

<!-- Deprecated -->
<template name="formFieldsDeprecated">
	{{{content}}}
</template>

